.affiliate_overview_container {
  display: flex;
  flex-direction: column;
  gap: 2.5rem;

  .affilicate_overview_content {
    ul {
      display: flex;
      flex-direction: column;
      gap: 2rem;

      li {
        display: flex;
        justify-content: space-between;
        align-items: center;

        .overview_label {
          display: flex;
          align-items: center;
          gap: 5px;
          color: #6f767e;
          font-weight: 500;
          font-size: 13px;
          line-height: 16px;
        }

        .overview_value {
          padding: 1rem 3rem;
          border-radius: 12px;
        }
      }
    }
  }
}
